.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--main-theme-color);
  color: white;
  width: max-content;
  padding: 2rem;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}

.dashboard-view-container {
  flex: 1;
}

.component-view {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.component-container {
  height: 100%;
  width: 85%;
  background-color: var(--main-theme-color);
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
