.friends-nav {
  display: flex;
}

.friends-nav-btn {
  flex: 1;
  text-align: center;
  padding: 1rem;
  background-image: linear-gradient(white, white);
  background-size: 0% 0.1rem;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
}

.friends-nav-btn:hover {
  cursor: pointer;
}

.active-tab {
  background-size: 100% 0.1rem;
}

.search-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.friend-card {
  display: flex;
  align-items: center;
  border: 1px solid black;
  gap: 1rem;
}

.friend-avatar {
  width: 100px;
  height: 100px;
}

.search-results-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  flex: 1;
  position: relative;
}

.search-results-container > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.search-card-btns {
  justify-self: flex-end;
}
