.friends-nav {
  display: flex;
  align-items: center;
}

.friends-nav-btn {
  flex: 1;
  text-align: center;
  padding: 1rem;
  background-image: linear-gradient(white, white);
  background-size: 0% 0.1rem;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease-in-out;
  position: relative;
}

.friends-nav-btn:hover {
  cursor: pointer;
}

.active-tab {
  background-size: 100% 0.1rem;
}

.request-counter {
  background-color: red;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  bottom: 0px;
  right: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.friends-list-container {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
}

.friends-list {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.friends-list > p {
  text-align: center;
  padding: 2rem;
}

.friend-profile-container {
  height: 100%;
  background-color: var(--main-theme-color);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.friend-card,
.friend-card-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-right: 2rem;
  text-decoration: none;
  color: white;
}

.friend-card-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.friend-avatar {
  width: 100px;
  height: 100px;
}

.friend-avatar-small {
  width: 75px;
  height: 75px;
}

.friend-avatar-smaller {
  width: 50px;
  height: 50px;
}

.search-results-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  flex: 1;
  position: relative;
  overflow: auto;
}

.search-results-container > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.friend-card-btns {
  display: flex;
  gap: 1rem;
}

.disabled {
  opacity: 0.75;
  pointer-events: none;
}

.big-font {
  font-size: 2rem;
}

.remove-friend-confirm {
  padding: 2rem;
  background-color: #464d5a;
  border: solid 1px #464d5a;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  transition: all ease-in 0.5s;
}

.remove-friend-confirm > div {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .friend-avatar {
    width: 50px;
    height: 50px;
  }

  .friend-card-btns {
    flex-direction: column;
  }

  .friend-card,
  .friend-card-link {
    padding-right: 0;
  }
}
