.Login {
  background-color: var(--main-theme-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 1rem;
}

.login-container {
  padding: 2rem;
  border: solid 1px white;
  border-radius: 10px;
  transition: all ease 1s;
  position: relative;
}

.signin-form,
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.hide-form {
  display: none;
}

.login-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.login-msg-container {
  padding: 1rem;
  border: 1px solid lightcoral;
  border-radius: 10px;
  color: lightcoral;
}

.label {
  position: absolute;
  bottom: -25px;
  right: 10px;
  background-color: var(--main-theme-color);
  padding: 1rem;
}
