.message-container {
  display: flex;
  flex-direction: column;
}

.date-line {
  text-align: center;
  font-size: 0.8rem;
  color: lightgray;
}

.message-bubble {
  padding: 0.5rem 1rem;
  color: black;
  opacity: 0;
  transition: opacity ease-in 0.5s;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.send {
  background-color: lightblue;
  align-self: flex-end;
  border-radius: 20px 20px 0 20px;
}

.recieve {
  background-color: lightgray;
  border-radius: 20px 20px 20px 0;
}

.message-bubble-timestamp {
  color: lightgray;
  font-size: 0.8rem;
  display: block;
  white-space: nowrap;
}

.timestamp-send {
  text-align: end;
}

.timestamp-recieve {
  text-align: start;
}

.timestamp-hide {
  display: none;
}

.message-bubble-fadein {
  opacity: 1;
}

.bubble-username-label {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: -0.5rem;
}

.avatar-bubble-container {
  display: flex;
  gap: 0.25rem;
}

.chat-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bubble-md-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.left {
  justify-content: flex-end;
}

.right {
  justify-content: flex-start;
}

.align-left {
  align-self: flex-start;
}

.align-right {
  align-self: flex-end;
}

.linkify-text > a {
  color: darkblue;
  text-wrap: wrap;
}

.md-card {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border-left: solid 5px darkblue;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  color: black;
  text-decoration: none;
}

.md-descrip {
  font-size: 0.85rem;
  max-width: 50ch;
}

.md-site-name {
  color: darkslategrey;
}

@media screen and (max-width: 600px) {
  .bubble-md-container {
    max-width: 350px;
  }
}
